# Shopify
NEXT_PUBLIC_SHOPIFY_DOMAIN=
NEXT_PUBLIC_SHOPIFY_GRAPHQL_API_VERSION=2021-07
NEXT_PUBLIC_SHOPIFY_GRAPHQL_API_URL=https://$NEXT_PUBLIC_SHOPIFY_DOMAIN/api/$NEXT_PUBLIC_SHOPIFY_GRAPHQL_API_VERSION/graphql
NEXT_PUBLIC_SHOPIFY_STOREFRONT_ACCESS_TOKEN=
# Algolia
NEXT_PUBLIC_ALGOLIA_APP_ID=
NEXT_PUBLIC_ALGOLIA_API_KEY=
NEXT_PUBLIC_ALGOLIA_INDEX_NAME=
